@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* main */
html {
    min-height: 100%;
    position: relative;
    color: #161515;
}

body {
    font-family: "roboto", sans-serif;
    font-size: 20px;
    min-height: 100vh;
    background-color: #1a4faa;
    align-items: center;

}

/* main img */
.hero {
    border-radius: 8px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    min-height: 50%;
    min-width: 50%;
}

/* header */
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #006abc;
    padding-left: 2%;
    padding-right: 2%;
    margin: -8px;
    box-shadow: 5px 5px 10px;

}

/* navigation bar*/
#navigation li {
    display: inline;
    padding: 1em;
}

#navigation a {
    color: inherit;
    text-decoration: none;
}

#navigation a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#navigation {
    list-style-type: none;
    font-size: 150%;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


.heading h1 {
    font-size: 2rem;
}



/* aligns game area and makes it take up enough space for footer to stick to bottom*/
.game-area {
    display: flex;
    flex-direction: column;
    min-height: 600px;
}

/* rules text*/
.rules-area {
    display: flex;
    flex-direction: column;
    text-align: center;

}

/* footer */
footer {
    background-color: #0098f1;
    margin: -7px;

}

/* play button */
#play-button {
    align-self: center;
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #08E8DE;
    color: #3a3a3a;
    border-radius: 20%;
    align-items: center;
    border-bottom: 10px;
    margin-bottom: 2%;
}

/* divs that align game options into rows*/
#collumn1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

#collumn2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#collumn3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gamePage h1 {
    text-align: center;
    padding-bottom: 2%;
}

/* styling game options*/
.game-option {
    font-size: 7rem;
    border-radius: 40%;
    margin: 0 10px;
    background-color: #0098f1;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-left: 9%;

}

[data-choice="rock"] {
    padding-left: 10px;
    padding-right: 8px;
}

[data-choice="paper"] {
    padding-left: 17px;
    padding-right: 10px;
}

[data-choice="scissors"] {
    padding-left: 22px;
    padding-right: 22px;
}

[data-choice="spock"] {
    padding-left: 10px;
    padding-right: 10px;
}


.gamePage {
    color: aliceblue;
}

.game-option:hover {
    background-color: azure
}

#play-button a {
    text-decoration: none;
    color: inherit;
}

/* styling and alignment for score and result displays*/
#resultDisplay {
    font-size: 8rem;
    text-align: center;
}

.scoreDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-size: 2rem;

}

.pickedDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
    font-size: 2rem;
}


/* origin */
.origin-text {
    background: #0098f1;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 120%;
    width: 60%;
    margin-left: 20%;
    box-shadow: 5px 5px 10px;
    padding-bottom: 2%;
    margin-top: 4%;
}

/* modal */
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: 19%;
}

/* The Close Button (hidden) */
.close {
    display: none;
}

/* button that calls modal (hidden)*/
#myBtn {
    display: none;
}

.origin-text h1 {
    text-align: center;
}

/* styling reset button*/
#resetButton {
    align-self: center;
    margin-top: 20px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #0098f1;
    background-color: #08E8DE;
    color: #3a3a3a;
    border-radius: 20%;
    align-items: center;
    border-bottom: 10px;
    margin-bottom: 2%;
    margin-left: 39%;
    cursor: pointer;
}

/* colors for win/lose */
.green-text {
    color: green;
}

.red-text {
    color: red;
}

/* media querry's*/
@media screen and (max-width: 280px){
   #playerDisplay{
    font-size: 1rem;
   }
   #computerDisplay{
    font-size: 1rem;
   }
   #player{
    font-size: 1rem;
   }
   #computer{
    font-size: 1rem;
   }
   .game-area{
    min-height: 410px;
   }
}

@media screen and (max-width: 480px) {
    #resultDisplay{
        font-size: 5rem;
    }
    .heading h1 {
        font-size: 1.5rem;
    }

    #navigation {
        font-size: 1rem;
    }

    #navigation li {
        padding: 0.2rem;
    }

    .game-option {
        font-size: 2em;
    }

    #playerDisplay{
        font-size: 1.5rem;
    }
       #computerDisplay{
        font-size: 1.5rem;
       }
       #player{
        font-size: 1.5rem;
       }
       #computer{
        font-size: 1.5rem;
       }
    
       
}

@media screen and (max-width: 768px) {

    .heading h1 {
        font-size: 1rem;
    }

    #navigation {
        font-size: 0.8rem;
    }

    .game-option {
        font-size: 3em;
        margin-bottom: 10px;
    }

    .origin-text {
        background: #0098f1;
        padding-left: 13%;
        padding-right: 15%;
        font-size: 120%;
        width: 60%;
        margin-left: 6%;
        box-shadow: 5px 5px 10px;
        padding-bottom: 2%;
        margin-top: 4%;
    }

    #resetButton {
        margin-left: 29%;
    }

    .modal-content {
        height: 23%;
    }

    #resultDisplay{
        font-size: 5rem;
    }

}

@media screen and (min-width: 992px) {
    .controls-area {
        margin-left: -100px;
    }
}

@media screen and (max-width: 992px) {
    .controls-area {
        display: flex;
        flex-flow: column;
        margin-left: 26%;
        margin-right: 35%;
    }

    .game-option {
        margin-bottom: 10px;
    }
}